{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to WatchMeFret</h1>
  <p>The site where we collect the best videos with the best views of people fretting the guitar to your favorite songs!</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('learn_more_get')  }}">Learn More &raquo;</a>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h4>Check out these recently added videos!</h4>
    {{ macros.render_submissions(recent_submissions) }}
  </div>
  <div class="col-md-1"></div>
</div>
  

{% endblock %}