{% extends "base.html" %}
{% block content %}

<div class="row">
    <h1>What we're all about</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Learning guitar</h1>
        <p class="text-justify">Learning to play the guitar is wonderful, isn't it? I first picked up the guitar a decade ago, and I've hardly put it down since. Learning to play the guitar is wonderful, isn't it? I first picked up the guitar a decade ago, and I've hardly put it down since.</p>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h2>Hidden treasures</h1>
        <p class="text-justify">OMG so many hidden treasures. OMG so many hidden treasures. OMG so many hidden treasures. OMG so many hidden treasures. OMG so many hidden treasures. OMG so many hidden treasures. OMG so many hidden treasures. OMG so many hidden treasures. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Giving back</h1>
        <p class="text-justify">So how can I give back to the guitar world? By adding more videos. So how can I give back to the guitar world? By adding more videos. So how can I give back to the guitar world? By adding more videos. So how can I give back to the guitar world? By adding more videos. So how can I give back to the guitar world? By adding more videos. So how can I give back to the guitar world? By adding more videos. So how can I give back to the guitar world? By adding more videos. </p>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}