{% macro render_submissions(submissions) %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Song</th><th>Band</th><th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{ submission.song.title }}</td><td>{{ submission.band.name }}</td><td><a href="{{ submission.video.as_link() }}">Click here!</a></td>
      <td><iframe width="120" height="68" src="{{ submission.video.as_embedded() }}" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}