{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="text-center">Watch Me Fret</h1>
    <h3 class="text-center">Time to learn</h3>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4>Search results</h4>
    {{ macros.render_submissions(results) }}
  </div>
  <div class="col-md-2"></div>
</div>
  

{% endblock %}